<div *ngIf="quiz_host_lobby" id="quiz-host-lobby">
  <h1>The game token: {{room.data.token}}</h1>
  
  <button (click)="startGame()">Start Game!</button>
  
  Players:
  <ul>
    <li *ngFor="let player of players">{{player.name}}</li>
  </ul>
</div>

<div *ngIf="quiz_host_questions" id="quiz-host-questions">
  <div class="question">
    <h1>{{question}}</h1>
  </div>

  <div id="answer">
    <ol>
      <li class="asnwers" *ngFor="let awnser of awnsers">{{awnser}}</li>
    </ol>
  </div>
</div>


